.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxQuestion {
    display: none;
}
.finalScore {
    display: none;
}
.highScore {
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}