button#high-score-nav {
    background: none;
    border: none;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.align-left {
    display: none;
    align-items: flex-start;
}